<h4>Send message</h4>
<%= form_for :message, url: users_path, method: :post do |f| %>
  <div id="error">
    <%= render('layouts/error', object: { data: @message, name: 'sending message' }) if @message %>
  </div>
	
	<div class="input-field">
		<h4>To</h4>
		<%= select('message', 'receiver_id', @current_user.friends { |p| [ p.name, p.id ] }, {prompt: 'Select Receiver'}) %>
	</div>

  <div class="input-field">
    <%= f.text_area 'content', placeholder: 'Message', class: 'materialize-textarea' %>
  </div>

  <div class="input-field">
    <%= f.submit 'Send', class: 'btn btn-block btn-info' %>
  </div>
<% end %>