<h4>Send message</h4>
<%= form_for :message, url: user_messages_path(@current_user.id), method: :post do |f| %>
  <div id="error">
    <%= render('layouts/error', object: { data: @message, name: 'sending message' }) if @message %>
  </div>

  <input type="hidden" id="sender_id" name="message[sender_id]" value="<%= @current_user.id %>" />
	
  <div class='row'>
    <h4>To</h4>
    <div class="input-field">      
      <%= select('message', 'receiver_id', @current_user.friends.collect { |p| [ p.name, p.id ] }, { prompt: 'Select Receiver' }, class: 'show-select') %>
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <%= f.text_area 'content', placeholder: 'Message', class: 'materialize-textarea' %>
    </div>
  </div>  

  <div class="row">
    <div class="input-field">
      <%= f.submit 'Send', class: 'btn btn-block btn-info' %>
    </div>
  </div>
<% end %>