<h4>Sign up</h4>
<%= form_for :user, url: users_path, method: :post do |f| %>
  <div id="error">
    <%= render('layouts/error', object: { data: @user, name: 'signup' }) if @user %>
  </div>

  <div class="input-field">
    <%= f.text_field 'email', placeholder: 'E-mail' %>
  </div>
  <div class="input-field">
    <%= f.text_field 'name', placeholder: 'Name' %>
  </div>
  <div class="input-field">
    <div>
      <%= f.password_field 'password', placeholder: 'Password' %>
    </div>
    <div>
      <%= f.password_field 'password_confirmation', placeholder: 'Confirmation' %>
    </div>
  </div>
  <div class="input-field">
    <%= f.submit 'Sign Up', class: 'btn btn-block btn-info' %>
  </div>
<% end %>