<div class="col s12 m4">
	<div class="card">
    <div class="card-content">
    	<span class="card-title"><%= user.name %></span>
    	<p>
    		Email <%= user.email %>
    	</p>
    </div>
    <div class="card-action">
    	<% if !user.is_friend_of?(@current_user.id) %>
	      <%= link_to 'Add friend', add_friend_user_path(@current_user.id, user.id), method: :post %>
    	<% elsif !user.is_blocked_by?(@current_user.id) %>
    		<%= link_to 'Delete friend', delete_friend_user_path(@current_user.id, user.id), method: :delete %>
    		<%= link_to 'Block', unblock_friend_user_path(@current_user.id, user.id), method: :post %>
    	<% else %>
    		<%= link_to 'Delete friend', delete_friend_user_path(@current_user.id, user.id), method: :delete %>
			<%= link_to 'Unblock', unblock_friend_user_path(@current_user.id, user.id), method: :delete %>
    	<% end %>
    </div>
  </div>
</div>