<nav>
  <div class="nav-wrapper">
    <%= link_to 'Happy Chatty', root_path, class: 'brand-logo' %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if signed_in? %>
        <li><%= link_to 'Add Friends', '#' %></li>
        <li><%= link_to 'Sent Messages', sent_user_messages_path(@current_user.id) %></li>
        <li><%= link_to 'New Message', '#' %></li>
        <li><%= link_to 'Log out', session_path(@current_user), method: :delete %></li>        
      <% else %>
        <li><%= link_to 'Sign in', new_session_path %></li>
        <li><%= link_to 'Sign up', new_user_path %></li>
      <% end %>
    </ul>
  </div>
</nav>